#// ##########
#// TO SET THIS UP AS A DAEMON
#//  $ sudo cp /source-code/github.com_stephenbeauchamp/lmic_pi/examples/ttn-app_test01/ttn-app_test01.service /etc/systemd/system/
#//  $ sudo systemctl enable ttn-app_test01
#//  $ sudo Systemctl start ttn-app_test01
#// ##########


[Unit]
Description=A test app that runs a LoraWan/GPS HAT
After=network.target

[Service]
Type=Simple
WorkingDirectory=/source-code/github.com_stephenbeauchamp/lmic_pi/examples/ttn-app_test01/
ExecStart=/bin/bash -lc '/source-code/github.com_stephenbeauchamp/lmic_pi/examples/ttn-app_test01/ttn-app_test01 > /source-code/github.com_stephenbeauchamp/lmic_pi/examples/ttn-app_test01/log.txt 2>&1' 

[Install]
WantedBy=multi-user.target
